<div class ="row">
  <div class ="span6 offset3">
    <div class ="well">

  <p id="notice"><%= notice %></p>

  <p>
    <%= @pin.description %>
    <%= @pin.created_at %>
  </p>
      <p>
        <%= @pin.user.name %>

      </p>
      <% if current_user == @pin.user %>
      <%= link_to 'Edit', edit_pin_path(@pin) %> |
      <%= link_to 'Back', pins_path %>

      <% end %>
  </div>

  </div>

</div>





